<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books & Authors</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'books/css/style.css' %}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="activities">
                <div>
                    <h1>Add a Author</h1>
                    <form action="authors" method="POST">
                        {% csrf_token %}
                        <label>
                            First Name
                            <input type="text" name="first" />
                        </label>
                        <br />
                        <label>
                            Last Name
                            <input type="text" name="last" />
                        </label>
                        <br />
                        <label>
                            Notes
                            <br>
                            <textarea rows="3" cols="35" name="notes"></textarea>
                        </label>
                        <br>
                        <button type="submit">Add</button>
                    </form>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for author in authors %}
                            <tr>
                                <td>{{author.id}}</td>
                                <td>{{author.first_name}} {{author.last_name}}</td>
                                <td><a href="authors/{{author.id}}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <p>I'm using this color scheme from now on.</p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
